<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">

        <a class="navbar-brand fw-bold" href="/">Golf League Tracker</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navmenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/players">Players</a></li>
                <li class="nav-item"><a class="nav-link" href="/players/new">Add Player</a></li>
                <li class="nav-item"><a class="nav-link" href="/rounds/new">Add Round</a></li>
            </ul>
        </div>

    </div>
</nav>

